@import "../../bootstrapbase/less/moodle.less";
@import "font-awesome/font-awesome.less";


@colour-primary: #f98012;

body {
    padding-top: 92px;
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.well {
    background-color: #fefefe;
    border: none;
    .box-shadow(0 1px 4px 0 rgba(0,0,0,0.14));
}

// Nav bar.

.navbar-inner {
    background-image: none;
    background-color: @colour-primary;
}
.navbar .brand {
    text-shadow: none;
    color: #FFF;
    font-size: 2.2em;
}
.usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
    color: #FFF;
    font-size: 1.4em;
}
.usermenu .login {
    color: #FFF;
}
.usermenu .moodle-actionmenu[data-enhanced].show .menu > li {
    padding: 0.1em;
    font-size: 1.2em;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu {
    padding: 1em;
}
.navbar-inner .nav-icon {
    color: #FFF;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.4em;
    float: right;
    font-size: 1.5em;
}
.navbar-inner .nav-icon.hamburger {
    float: left;
}
.navbar-inner .nav-icon.nav-icon-large {
    font-size: 2.2em;
    margin-top: 0.2em;
    margin-left: 0em;
}
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    border-top-color: #FFF;
}

.navbar-fixed-top .navbar-inner {
    padding: 0.8em;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: lighten(@colour-primary, 15%);
}

aside#block-region-side-pre {
    color: #666;
    font-size: 1em;
    height: 100vh;
    top: 0px;
    padding-top: 96px;
    overflow: scroll;
    box-sizing: border-box;
    width: 280px;
    float: left;
    background-color: #f8f8f8;
    .block div.header {
        display: none;
    }
    .block {
        .notblock;
    }
    li {
        padding: 0.5em;
    }
    a {
        color: #666;
        &:hover {
            text-decoration: none;
        }
    }
}
aside#block-region-side-post {
    position: fixed;
    height: 100vh;
    overflow: scroll;
    right: 0px;
    background-color: #f8f8f8;
}

.notwell {
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}
.notblock {
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
    background-color: transparent;
}

#region-main {
    padding-left: 3em;
    padding-right: 3em;
    div[role=main] {
        .well;
    }
}
#page-my-index #region-main div[role=main] {
    .notwell;
    .block {
        .notwell;
        .header {
            display: none;
        }
        .content {
            padding: 0px;
        }
    }
}
#page-user-profile #region-main div[role=main] {
    .notwell;
    section {
        .material-shadow;
        background-color: #fff;
    }
}

.userpicture {
    border-radius: 50%;
}

#page {
    transition: margin-left 0.3s;
}
aside.collapsable {
    position: fixed;
    left: 0%;
    transition: left 0.3s;
}
aside.collapsable.collapsed {
    left: -280px;
}
#navbar-settings {
    float: right;
    font-size: 2em;
    color: #fff;
    background-color: @colour-primary;
    border-radius: 50%;
    padding: 0.6em;
    .box-shadow(0 1px 8px 0 rgba(0,0,0,0.2));
    position: fixed;
    right: 16px;
    top: 80px;
}
.container-fluid {
    max-width: none;
}
.breadcrumb-nav .breadcrumb {
    .material-shadow;
    background-color: #fefefe;
    border: none;
}
input[type="submit"] {
    .material-shadow;
    background-color: #FFFFFF;
    background-image: none;
    border: none;
}
input[type="text"] {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: #fff;
    width: 128px;
    .material-shadow;
}
.material-shadow {
    .box-shadow(0 1px 4px 0 rgba(0,0,0,0.14));
}
footer#page-footer {
    border-top: none;
}
.block_navigation {
    .block_tree ul {
        margin-left: -10px;
    }
    p.tree_item.branch {
        text-transform: uppercase;
    }
    li.current_branch {
        background-color: #E3E3E3;
    }
}





// Google fonts

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTfy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTfgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}





