@import "../../bootstrapbase/less/moodle.less";
@import "font-awesome/font-awesome.less";

body {
    padding-top: 75px;
    background-color: #f8f8f8;
}
.well {
    background-color: #fefefe;
    border: none;
    .box-shadow(0 1px 4px 0 rgba(0,0,0,0.14));
}

// Nav bar.

.navbar-inner {
    background-image: none;
    background-color: #f98012;
}
.navbar .brand {
    text-shadow: none;
    color: #FFF;
    font-size: 2.2em;
}
.usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
    color: #FFF;
    font-size: 1.4em;
}
.usermenu .moodle-actionmenu[data-enhanced].show .menu > li {
    padding: 0.1em;
    font-size: 1.2em;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu {
    padding: 1em;
}
.navbar-inner .hamburger {
    color: #FFF;
    font-size: 2.2em;
    float: left;
    margin-top: 0.2em;
    margin-right: 0.5em;
}
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    border-top-color: #FFF;
}

.navbar-fixed-top .navbar-inner {
    padding: 0.8em;
    box-shadow: 0 1px 10px rgba(0,0,0,.2);
}

.jsenabled .usermenu .moodle-actionmenu.show {
    background-color: #FF9230;
}

#block-region-side-pre {
    color: #666;
    font-size: 1.2em
}
#block-region-side-pre .block {
    .notblock;
    background-color: transparent;
}
#block-region-side-pre li {
    padding: 0.5em;
}
#block-region-side-pre a {
    color: #666;
    &:hover {
        text-decoration: none;
    }
}

#block-region-side-pre {
    padding: 0.75em 0.75em;
    .block div.header {
        display: none;
    }
    padding: 8px 0px;
    float: left;
}

.notblock {
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
    background-color: transparent;
}

#region-main {
    .well;
    padding-left: 3em;
    padding-right: 3em;
    transition: height 1s;
    transition: width 1s;
}

.userpicture {
    border-radius: 50%;
}

aside.collapsable {
    position: absolute;
    left: 0%;
    transition: left 1s;
}
aside.collapsable.collapsed {
    left: -23.40425532%;
}
#navbar-settings {
    float: right;
    font-size: 2em;
    color: #fff;
    background-color: #f98012;
    border-radius: 50%;
    padding: 0.6em;
    .box-shadow(0 1px 8px 0 rgba(0,0,0,0.2));
    position: fixed;
    right: 0px;
    top: 96px;
}
