@import "../../bootstrapbase/less/moodle.less";

body {
    padding-top: 60px;
    background-color: #f8f8f8;
}
.well {
    background-color: #fefefe;
    border: none;
    .box-shadow(0 1px 4px 0 rgba(0,0,0,0.14))
}
.navbar-inner {
    background-image: none;
    background-color: #f98012;
}
.navbar .brand {
    text-shadow: none;
    color: #FFF;
    font-size: 2.2em;
}
.navbar-inner {
    padding: 6px;
}
#block-region-side-pre {
    color: #666;
    font-size: 1.2em
}
#block-region-side-pre li {
    padding: 0.5em;
}
#block-region-side-pre a {
    color: #666;
}

#block-region-side-pre {
    .well;
    padding: 0.75em 0.75em;
    .block div.header {
        display: none;
    }
    padding: 8px 0px;
}

